<!doctype html>
<html>
    
    <head>
        {{!-- <title>{{title}}</title> --}}
        
    </head>
    <body>
        {{>header}}
        <h1>{{name}}</h1>

        <form>
            <input type="text" placeholder="Location"> 
            <button>Get Temperature</button>
            {{!-- <p></p> --}}
        </form>
    </body>
    <script src="../js/app.js"></script>
</html>