<!doctype html>
<html>
    
    <head>
        {{!-- <title>{{title}}</title> --}}
        
    </head>
    <body>
        {{>header}}
        <h1>Location {{location}}</h1>
        <h1>Forecast {{forecast}}</h1>
    </body>
</html>